.container{
    background-color: rgba(0, 0, 0, 0.7); 
    inset: 0;
    color: white;
    position: fixed;
    display: grid;
    place-items: center;
}

.NewGrp{
    opacity: 100%;
    width: 480px;
    height: 240px;
    background-color: #fff;
    color: black;
    z-index: 10;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 20px 0 20px;
    position: relative;
}

.NewGrp label{
    font-size: 20px;
    font-weight: 500;
}

.NewGrp input{
    width: 60%;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    padding-left:10px;
    border: 2px solid #CCCCCC;
    outline: none;
    border-radius: 18px;
}

.notUnique{
    height: 15px;
    width: 100%;
    color: red;
    font-size: 15px;
    margin-left: 30%;
    margin-top: 0%; 
    margin-bottom: 0%;
}

.submit{
    background-color: #001F8B;
    color: #fff;
    padding: 6px 5px 6px 5px;
    width: 100px;     
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.btnDisable{
    background-color: #1435aa5a;
    color: #fff;
    padding: 6px 5px 6px 5px;
    width: 100px;     
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: not-allowed;
}


/*  */
.colorContainer{
    display: flex;
    align-items: center;
    justify-content: start;
}

.chooseColors{
    margin-left: 20px;
}

.colorBtn{
    margin-right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Responsive */

@media screen and (max-width:540px) {
    .NewGrp{
        width: 400px;
    }
    .notUnique{
        font-size: 13px;
        margin-left: 35%;
    }
}

@media screen and (max-width:460px) {
    .NewGrp{
        width: 300px;
        height: 200px;
    }
    .NewGrp h2{
        font-size: 20px;
    }
    .NewGrp label{
        font-size: 15px;
    }

    .NewGrp input{
        margin-left: 10px;
        font-size: 12px;
    }
    .colorContainer h3{
        font-size: 15px;
        /* display: flex; */
    }
    .colorBtn{
        width: 20px;
        height: 20px;
    }
    .submit,
    .btnDisable{
        width: 200px;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 10px;
    }
    .notUnique{
        font-size: 10px;
        margin-left: 35%;
    }
}
@media screen and (max-width:350px) {
    .NewGrp{
        width: 280px;
        height: 200px;
        padding: 0px 5px 0 5px;
    }
    .NewGrp h2{
        font-size: 18px;
    }
    .NewGrp label{
        font-size: 15px;
    }

    .NewGrp input{
        width: 55%;
        margin-left: 5px;
        font-size: 12px;
    }
    .colorContainer{
        margin-bottom: 10px;
    }
    .chooseColors{
        margin-left: 2px;
    }
    .colorContainer h3{
        font-size: 15px;
        margin-right: 2px;
    }
    .colorBtn{
        width: 18px;
        height: 18px;
    }
    .submit,
    .btnDisable{
        width: 200px;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px;
        bottom: 0px;
    }
}



