html,
body{
    min-width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leftSide{
    background-color: #fff;
    width: 20%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.leftSide h2{
    margin-top: 50px;
    font-size: 30px;
    font-weight:500;
    user-select: none;
}

.notesGrp{
    width: 100%;    
    overflow-y: auto;
    overflow-x: hidden;
}

.notesGrp::-webkit-scrollbar{
    width: .4vw;
}

.notesGrp::-webkit-scrollbar-thumb{
    background-color: #D9D9D9;
    border-radius: 100px;
}
.notesGrp::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 100px;
}

.addGrp{
    width: 65px;
    height: 65px;
    border: none;
    position: absolute;
    bottom: 5%;
    right: 4%;
    font-size: 35px;
    background-color: #16008B;
    color: #fff;
    display: grid;
    place-items:center;
    border-radius: 50%;
    z-index: 100;
}


/* Responsive Css */
@media only screen and (max-width:1070px) {
    .leftSide h2{
        font-size: 22px;
    }
    .addGrp{
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
}

@media only screen and (max-width:740px) {
    .leftSide h2{
        font-size: 20px;
    }

    .addGrp{
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
}
@media only screen and (max-width:631px) {
    .leftSide h2{
        font-size: 18px;
    }
    .addGrp{
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
}
@media only screen and (max-width:567px) {
    .leftSide h2{
        font-size: 15px;
    }
    .addGrp{
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}

@media screen and (max-width:450px) {
    .leftSide{
        display: none;
        width: 100%;
    }
    .leftSide h2{
        display: grid;
        place-items: center;
        margin-top: 20px;
        font-size: 25px;
    }
    .notesGrp{
        width: 100%;
    }
    .addGrp{
        width: 65px;
        height: 65px;
        bottom: 10%;
        right: 10%;
        font-size: 30px;
    }
    
}

