.grpCard{
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.grpCard:hover{
    background-color: #2F2F2F2B;
}

.grLogo{
    /* background-color: blue; */
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 50px; 
    font-size: 20px;
    font-weight: 500;
}

.grName{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
}

.active{
    background-color:#2F2F2F2B;
}

/* Responsive */
@media only screen and (max-width:1070px) {
    .grpCard{
        height: 60px;
    }
    .grLogo{
        margin-left: 5px;
        width: 40px;
        height: 40px;
        font-size: 15px; 
    }
    .grName{
        font-size: 15px;   
        margin-left: 10px;
    }
}

@media only screen and (max-width:740px) {
    .grpCard{
        height: 55px;
    }
    .grLogo{
        margin-left: 10px;
        width: 35px;
        height: 35px;
        font-size: 13px; 
    }
    .grName{
        font-size: 13px;   
        margin-left: 10px;
    }
}

@media only screen and (max-width:631px) {
    .grpCard{
        height: 50px;
    }
    .grLogo{
        margin-left: 8px;
        width: 30px;
        height: 30px;
        font-size: 13px; 
    }
    .grName{
        font-size: 13px;   
        margin-left: 5px;
    }
}

@media only screen and (max-width:567px) {
    .grpCard{
        height: 50px;
    }
    .grLogo{
        margin-left: 5px;
        width: 28px;
        height: 28px;
        font-size: 12px; 
    }
    .grName{
        font-size: 12px;   
        margin-left: 5px;
    }
}

@media screen and (max-width:450px) {
    .grpCard{
        width: 100%;
        height: 60px;
    }
    .grLogo{
        margin-left: 15%;   
        font-size: 18px;
        width: 45px;
        height: 45px;
    }
    .grName{
        font-size: 18px;
    }
    .active{
        background-color:#fff;
    }
}