.container{
    width: 80%;
    height: 100%;
    background-color: #DAE5F5;
}

/* default Right side */
.rightSideDefault{
    background-color: #DAE5F5;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    user-select: none;
}

.imageSec img{
  max-width: 60%;
  /* min-width: 30%; */
  /* border: 2px solid black; */
  height: auto;
}
.imageSec{
    width: 100%;
}
.imageSec h2{
    font-size: 30px;
    font-weight:500;
}

.imageSec p{
    font-size: 18px;
    font-weight: 500;
}

.encryption{
    font-size: 18px;
    display: flex;
    align-items: center;
}

/* notes section */
.notesSection{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* navbar */
.navbar{
    display: flex;
    background-color: #001F8B;
    align-items: center;
    color: #fff;
    padding: 5px 5px;
    height: 50px;
}

.icon{
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 400;
}

.grpName{
    margin-left: 1%;
    font-size: 22px;
}

/* Message Box */
.notesBox{
    width: 100%;
    height: 100%;
    background-color: #DAE5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.notesBox::-webkit-scrollbar{
    width: .4vw;
}

/* .notesGrp::-webkit-scrollbar-corner{} */
.notesBox::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 100px;
}
.notesBox::-webkit-scrollbar-track{
    background-color: #000000A1;
    border-radius: 100px;
}

.inputBox{
    display: grid;
    place-items: center;
    height: 35%;
    background-color:#001F8B;
}

.inputBox textarea{
    font-family: 'Roboto';
    resize: none;
    width: 90%;
    height: 80%;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px 5px 12px;
    font-size: 18px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inputBox textarea::-webkit-scrollbar{
    width: .6vw;
}

.inputBox textarea::-webkit-scrollbar-thumb{
    background-color: #ABABAB;
    border-radius: 100px;
}
.inputBox textarea::-webkit-scrollbar-track{
    background-color: #DAE5F5;
    border-radius: 100px;
}

.sendIcon{
    all: unset;
    position: absolute;
    bottom: 4%;
    right: 4%;
    font-size: 30px;
    color:#ABABAB;
}

.notePad{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px; 
    background: #fff;
    padding: 15px 15px ;
    font-size: 15px;   
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-weight: 500;
}

.dateTime{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.dateTime li{
    font-size: 14px;
    font-weight: 500;
    /* list-style: none; */
    margin: 15px 10px 0px 0px;
}

.dateTime li:nth-child(1){
    list-style: none;
}

.backArrow{
    all: unset;
    color: #fff;
    font-size: 20px;
    width: 5%;
    height: 60%;
    display: grid;
    place-content: center;
    margin: 0 10px 0 10px;
    display: none;
    /* border: 1px solid white; */
}

/* for mobile screen */
.displayBloclMobile{
    width: 100%;
    display: block;
}

/* Responsive */
@media only screen and (max-width:1070px){
    .grpName{
        font-size: 20px;
    }
    .icon{
        width: 40px;
        height: 40px;
        font-size: 20px;
        margin-left: 20px;
    }
    .dateTime li,
    .notePad{
        font-size: 12px;
    }
    .inputBox textarea{
        font-size: 15px;
    }
}

@media screen and (max-width:681px) {
    .imageSec h2{
        font-size: 25px;
    }
    .imageSec p{
        font-size: 15px;
    }
    .encryption{
        font-size: 15px;
    }
    .inputBox{
        height: 30%;
    }
    .sendIcon{
        font-size: 20px;
    }
}
@media screen and (max-width:567px) {
    .grpName{
        font-size: 15px;
    }
    .icon{
        width: 30px;
        height: 30px;
        font-size: 15px;
        margin-left: 10px;
    }
    .imageSec h2{
        font-size: 20px;
    }
    .imageSec p{
        font-size: 12px;
    }
    .encryption{
        font-size: 12px;
    }
}

@media screen and (max-width:450px) {
    .container{
        display: none;  
        width: 100%;
    }
    .backArrow{
        display: block;
    }
    .icon{
        font-size: 13px;
    }
    .grpName{
        font-size: 13px;
        margin-left: 10px;
    }
}
